{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <title>TODO 수정하기</title>
</head>
<body>
<div class="container">
  <h1>TODO 추가하기</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- form.as_p가 필드의 레이블과 필드들을 포함 -->
    <button type="submit" class="btn btn-primary">수정하기</button>
</form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS 및 의존성 (필요한 경우 추가) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}